In [9]:
import numpy as np

In [10]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

In [18]:
#How many negative numbers are there?
len(a[a < 0])

4

In [19]:
#How many positive numbers are there?
len(a[a > 0])

5

In [27]:
#How many even positive numbers are there?
na = a[a>0]
na
na[na % 2 == 0]
len(na[na % 2 == 0])

3

In [40]:
#If you were to add 3 to each data point, how many positive numbers would there be?
a + 3
ap3 = a+3
ap3
len(ap3[ap3 > 0])

10

In [47]:
#If you squared each number, what would the new mean
new_a = a ** 2
new_a.mean()

144.0243035046516

In [48]:
# new standard deviation after sqaring
new_a.std()

144.0243035046516

In [53]:
#Center the data set.
a_mean = a.mean()
center = [a - a_mean]
center.mean()

AttributeError: 'list' object has no attribute 'mean'

In [7]:
#Calculate the z-score for each data point.

3.0